<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943274349131-2418u196mr605736qgrsofrr7vmmu5dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943274349131-2418u196mr605736qgrsofrr7vmmu5dq</string>
	<key>API_KEY</key>
	<string>AIzaSyBTlT5gylWCf7gdn8QzTDjhbBFr9TFwPOM</string>
	<key>GCM_SENDER_ID</key>
	<string>943274349131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.herewegoagain.TimeTracker</string>
	<key>PROJECT_ID</key>
	<string>login-and-firestore-app</string>
	<key>STORAGE_BUCKET</key>
	<string>login-and-firestore-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943274349131:ios:024da8b9c4e7650626f3ce</string>
</dict>
</plist>